 * {
  box-sizing: border-box;
 }

 body{
 	margin:0;
 }

 .whitefill {
    position:relative;
    width:100%;
    background:#ccc;
    border-bottom: 5px groove black;
}

 header  {
 	width:960px;
 	height: 120px;
 	background: #ccc;
 	margin:auto;
 }

 h1 {
 	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	padding:15px;
	background: #385623;
	color:#ccc;
	font-size: 300%;
	margin-bottom:0;
}

h2 {
	font-size:215%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin:auto;
	color:#385623;
	margin-top:-7px;
	text-align: left;
	padding-bottom:7px;
	border-bottom: 3px solid #555;
	margin-bottom:10px;
}

h3 {
	font-size: 166%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 10px;
	margin:auto;
	color:#385623;
	text-align: center;
	border-bottom: 3px solid #555;
	margin-bottom:7px;
}

h4 {
 	position:relative;
 	width:200px;
 	font-family: 'Georgia', Times, Times New Roman, serif;
	padding:8px;
	background: #385623;
	color:#ccc;
	text-align:center;
	font-size: 120%;
	bottom:-140px;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position:relative;
	float:right;
    top:60%;
}

p {
    position:relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top:5px;
}

label {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#385623;
}

.submitbutton {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #385623;
	color:#ccc;
	margin-bottom:0;
}

#cover {
	float:left;
	height:250px;
	width:180px;
	margin-right:25px;
}

article {
	width:650px;
	height: 100%;
	position: relative;
    top:20px;
	left:0;
	bottom:20px;
	padding:2%;
	text-align: left;
	background: #ccc;
}
aside {
	width:270px;
    position:absolute;
    top:20px;
    right:0;
    padding:2%;
    text-align:center;
    background: #ccc;
}

.contentbox {
	position: relative;
	width: 960px;
	margin:auto;
	padding:0;
}

.patfill {
  position:relative;
  left:0;
  right:0;
  width:100%;
  height:100%;
  padding-bottom: 10%;
  padding-top:1.2%;
  background-image: url(../images/spiration_dark.png);
}

#hangman,#rpg,#triv,#info,#rps {
	height:240px;
	width:200px;
	margin:50px;
	float:left;
}

#hangman{
	background-image:url(../images/hangman.jpeg);
}

#rpg {
	background-image:url(../images/rollplay.jpeg);
}

#triv {
	background-image:url(../images/trivia.jpg);
}

#rps {
	background-image:url(../images/rpscissors.jpg);
}

#info {
    background-image:url(../images/info.jpg);
}

textarea,input,label {
	margin-bottom:3%;
}

textarea {
	width:100%;
	height:200px;
}

footer {
	border-top: 10px solid #385623;
	background:#666;
	height:90px;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	color:#ccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-top:3%;
}

input::after,label::after,textarea::after,.patfill::after,.whitefill::after,article::after,.contentbox::after{
    content: "";
	display: table;
	clear: both;
}

